
VALID_ORIGIN="${VALID_ORIGIN}"
TOOLBASE="${TOOLBASE}"

MEDIAWIKI_SITE_LANG="${MW_SITE_LANG}"
MEDIAWIKI_SITE_NAME="${MW_SITE_NAME}"

WIKIBASE_SCHEME_AND_HOST="${WIKIBASE_SCHEME_AND_HOST}"
WIKIBASE_PUBLIC_HOST_AND_PORT="${WIKIBASE_PUBLIC_HOST_AND_PORT}"

WIKIBASE_PROPERTY_NAMESPACE="${WIKIBASE_PROPERTY_NAMESPACE}"
WIKIBASE_PROPERTY_PREFIX="${WIKIBASE_PROPERTY_PREFIX}"
WIKIBASE_ITEM_NAMESPACE="${WIKIBASE_ITEM_NAMESPACE}"
WIKIBASE_ITEM_PREFIX="${WIKIBASE_ITEM_PREFIX}"
WIKIBASE_LEXEME_NAMESPACE="${WIKIBASE_LEXEME_NAMESPACE}"
WIKIBASE_LEXEME_PREFIX="${WIKIBASE_LEXEME_PREFIX}"

MEDIAWIKI_OAUTH_CONFIG_FILE="${MEDIAWIKI_OAUTH_CONFIG_FILE}"
WIKIBASE_SIGNATURE_SCHEME_AND_HOST="${WIKIBASE_SIGNATURE_SCHEME_AND_HOST}"
BOT_CONFIG_FILE="${BOT_CONFIG_FILE}"
LOG_FILE="${LOG_FILE}"
CURLOPT_SSL_VERIFYPEER=${CURLOPT_SSL_VERIFYPEER}
